/* --------- Structure --------- */

.game-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.game-header {
	display: flex;
	justify-content: center; /* Horizontally centers the content */
	align-items: center; /* Vertically centers the content */
	color: white;
	min-height: 40px;
	border-bottom: 1px solid #1a202c;
}

.game-content {
	display: flex;
	flex-grow: 1;
}

.game-left {
	width: 15%;
	padding: 5px;
	flex-shrink: 0; /* Prevent shrinking */
	border-right: 1px solid #1a202c;
	display: flex;
	flex-direction: column;
}

.game-center {
	flex-grow: 1;
	color: white;
	min-width: 0; /* Prevent content overflow */
}

.game-right {
	width: 15%;
	padding: 5px;
	flex-shrink: 0; /* Prevent shrinking */
	border-left: 1px solid #1a202c;
	display: flex;
	flex-direction: column;
}

/* --------- Game Left Nav --------- */

.game-left-nav-button {
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;

	border: 1px solid #718096;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
}

.game-left-nav-button:hover {
	border: 1px solid #fff;
	cursor: pointer;
}

/* --------- Resource Icons --------- */

.resource-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px 0 10px;
}

.resource-icon:hover {
	cursor: pointer;
}

.resource-icon-image {
	width: 48px; /* Ensure the image fills the full width */
	height: 48px; /* Ensure the image fills the full height */
	border-radius: 5px;
	border: 1px solid #5c5c5c;
}

.resource-icon-text {
	font-size: 12px;
	padding-top: 5px;
}

/* --------- Planets --------- */

.planet-item {
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;

	font-size: 10px;
	border:1px solid rgba(166, 182, 255, 0.1);
	border-radius:20px;
	background: rgba(122, 159, 255, 0.05);
	color: #fff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.planet-item:hover {
	border:1px solid rgba(166, 182, 255, 0.55);
	background: rgba(122, 159, 255, 0.13);
	cursor: pointer;
}

.planet-item-selected {
	border:1px solid rgba(166, 182, 255, 0.55);
	background: rgba(122, 159, 255, 0.13);
}

.planet-image {
	max-width: 95%;
}

.planet-image:hover {
	/*
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.7);
	border-radius: 100%;
	*/
}